body{background-color: #ededed;}

.navbar {
    max-height: 90px;
    font-size: 15px;
    padding: 8px 16px;
    background-color: white;

}
.navbar-light{
    background-color: white;
    color: white;
}
.navbar-light .navbar-brand{
    background-color: #0bada6;
    color: white;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 35px;
}
.img-responsive{
    width:75% !important;
    height:75% !important;
}
.col-lg-5 {
    width: 25%;
}
.whitebox {
    margin-top: 40px; 
    margin-bottom: 10px; 
    padding: 10px 20px 15px; 
    color: black;
    background-color: white; 
}
.boxes{
    background-color: white; 
}
.title{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    width:100% !important;
    height:100% !important;
}
.box{

    margin-bottom: 10px;
}
.smallpic {
    width: 50% !important;
    height: 50% !important;
}
.smallpic2 {
    width: 60% !important;
    height: 60% !important;
     
}
.col-md-6{
    text-align: center; 
    

}
.col-6{
    width: 100% !important;
    height: 100% !important;
}
.jumbotron {
    padding: 20px 20px 20px;
    margin:25px 25px 25px;
    background-color: #e9ecef;
    border-radius: .10rem;
}

footer{
    background-color: #666666; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #0BADA6;
    color: white; 
    min-height: 60px;
    padding-top: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    }